* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

* {
  font-family: "Luckiest Guy";
  font-family: "Montserrat Alternates", sans-serif; }

h2 {
  color: orange;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-size: 35px;
  padding: 15px; }

body {
  background-image: url(../imagenes/Fondo.jpg); }

.header {
  background-color: #00d8ff; }

.header__logo__imagen img {
  width: 100%; }

.navbar {
  list-style: none;
  margin: 0 auto;
  width: fit-content; }

.nav-item a {
  font-size: 22px;
  margin: 5px;
  letter-spacing: 1px;
  color: white;
  font-family: "Luckiest Guy"; }

.dropdown-menu {
  background-color: #00d8ff; }

.footer {
  background-color: #00d8ff; }

.footer__lista img {
  width: 60px; }

.footer__lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.carouselAdopciones {
  width: 80%;
  margin: auto; }

.carouselAdopciones img {
  width: 600px;
  height: 500px; }

.main__aliados img {
  width: 350px;
  height: 200px; }

.main__aliados {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.main_titulo {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 25px;
  font-style: normal;
  padding-left: 35px;
  padding-bottom: 10px; }

.main_texto {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
  font-style: normal;
  width: 80%;
  margin-left: 10%;
  padding: 10px; }

.accordion {
  margin-left: 10%;
  padding: 10px; }

.contacto__form {
  width: 80%;
  padding-left: 50px; }

.form-control {
  width: 50%; }

.main__nuestrasSedes {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.main__nuestrasSedes_titulo {
  margin: 20px; }

.contacto__mapas {
  height: 300px;
  width: 90%; }

.main__nuestrasSedes h3 {
  color: #00d8ff;
  font-family: "Luckiest Guy";
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 400; }

.main__nuestrasSedes h4 {
  color: black;
  font-family: "Montserrat Alternates", sans-serif;
  margin-left: 10px;
  margin-bottom: 5px; }

.card-img-top {
  width: 288px;
  height: 200px; }

.main_adopciones {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.adopciones_card {
  padding: 10px; }

.card-title {
  padding-bottom: 10px; }

/* ------- Nuestros Aliados ------ */
.main__aliados {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.main__preguntas__pregunta {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 25px;
  font-style: normal;
  padding-left: 35px;
  padding-bottom: 10px; }

.main__preguntas__respuesta {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
  font-style: normal;
  width: 80%;
  margin-left: 45px;
  padding: 10px; }
