.card-img-top{
    width: 288px;
    height: 200px;
}
.main_adopciones{
    width: 90%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.adopciones_card{
    padding: 10px;
}
.card-title{
    padding-bottom: 10px;
}

/* ------- Nuestros Aliados ------ */
.main__aliados{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}