.header{
    background-color: $fondoheaderfooter;
}
.header__logo__imagen img{
    width: 100%; 
}
.navbar{
    list-style: none;
    margin: 0 auto;
    width: fit-content;
}
.nav-item a{
    font-size: 22px;
    margin: 5px;
    letter-spacing: 1px;
    color: $colorletraheader;
    font-family: $fuentenav;
}
.dropdown-menu{
    background-color: $fondoheaderfooter;
}