*{
    margin:0;
    padding:0;
}
.main__preguntas__pregunta{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
    font-style: normal;
    padding-left: 35px;
    padding-bottom: 10px;

}

.main__preguntas__respuesta{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-style: normal;
    width: 80%;
    margin-left: 45px;
    padding: 10px;
}