.main_titulo{
    font-family: $fuenteprincipal;
    font-size: 25px;
    font-style: normal;
    padding-left: 35px;
    padding-bottom: 10px;

}

.main_texto{
    font-family: $fuenteprincipal;
    font-size: 16px;
    font-style: normal;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
}

.accordion{
    margin-left: 10%;
    padding: 10px;
}